/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  background: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block
}


/* Header and Footer
-------------------------*/
header, footer {
  background: #2B2D42;
  color: #8D99AE;
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
  margin-top: 30px;
}
.col-wide{
  max-width: 750px;
  margin-left: 90px;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Footer 
-------------------------*/
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
  font-size: 30px;
}
/* Navigation Bar
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Work Experience
-------------------------*/
.work {
  background: #EDF2F4;
}

h3 ~ p {
  margin: 0;
}

.job-description {
  margin-bottom: 24px;
}

.job-description p:first-of-type {
  margin-top: 0;
}
/* Education
-------------------------*/
.education {
  background: linear-gradient(rgba(141, 153, 174, 0.6), rgba(141, 153, 174, 0.9)),
  url("../images/minneapolis.jpg") no-repeat fixed;
  background-size: cover;
}

p + h3 {
  margin-top: 30px;

}

/* Projects
-------------------------*/
.project {
  margin: 100px;
}

.build {
  min-height: 250px;
  float:right;
  margin-top: -250px;
}


/* Media Queries
-------------------------*/

@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  
  .content-wrap .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    margin-left: 0px;
  }
  
}

@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
    margin:0px;
  }
  .content-wrap .col-wide {
    margin-left: 0px;
  }
  .build {
    min-height: 250px;
    float:none;
    margin-top: 10px;
  }
}